<div class="navbar">
  <ul
    class="flex flex-wrap text-sm font-medium text-center border-b border-gray-700 text-gray-400 px-5"
  >
  <li class="me-2 pt-2 pr-1 pl-1">
    <a href="#" routerLink="/dashboard/home"
      class="hover:text-gray-300 inline-block p-4 rounded-t-lg hover:bg-gray-800  ">Home</a>
  </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/aboutUs"
        class="hover:text-gray-300 inline-block p-4 rounded-t-lg hover:bg-gray-800"
        >About us</a
      >
    </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/portfolio-image"
        routerLinkActive="active"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300"
        >Portfolio-image</a
      >
    </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/portfolio-category"
        routerLinkActive="active"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300"
        >Portfolio-Category</a
      >
    </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/portfolio-video"
        routerLinkActive="active"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300"
        >Portfolio-video</a
      >
    </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/testimonial"
        routerLinkActive="active"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300"
        >Testimonials</a
      >
    </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/our-clients"
        routerLinkActive="active"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300"
        >Our Clients</a
      >
    </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/service"
        routerLinkActive="active"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300"
        >Services</a
      >
    </li>
    <li class="me-2 pt-2 pr-1 pl-1">
      <a
        href="#"
        routerLink="/dashboard/blogs"
        routerLinkActive="active"
        class="inline-block p-4 rounded-t-lg hover:bg-gray-800 hover:text-gray-300"
        >Blogs</a
      >
    </li>
  </ul>
</div>
<div class="m-12"><router-outlet></router-outlet></div>
